@model WebApplication4.Models.BlogPost
@{
    ViewBag.Title = "Details";
}

<body class="bgcolor">
    <div class="bodytext boxshadow">
        <div class="headtext">
            <h1>@Model.Title</h1>
        </div>
    </div>
    Title: @Model.Title <br />
    Body: @Model.Body<br />
    @Html.ActionLink("Return", "Index")
</body>
