@model WebApplication4.Models.BlogPost
@{
    ViewBag.Title = "Edit";
}

<body class="bgcolor">
    <div class="bodytext boxshadow">
        <div class="headtext">
            <h1>Edit</h1>
        </div>
    </div>
    <form action="@Url.Action("Edit", "Blog")" method="post">
        Title: @Html.EditorFor(model => model.Title)<br />
        Body: @Html.EditorFor(model => model.Body)<br />
        <button type="submit">Apply Changes</button>
    </form>
</body>