@model WebApplication4.Models.BlogPost
@{
    ViewBag.Title = "Edit";
}

<body class="bgcolor">
    <div class="bodytext boxshadow">
        <div class="headtext">
            <h1>Edit</h1>
        </div>
    </div>
    <br />
    <form action="@Url.Action("Edit", "Blog")" method="post">
        Title: <input type="text" name="Title" value="@Model.Title" /><br />
        Body: <input type="text" name="Body" value="@Model.Body" /><br /><br />
        <button type="submit" class="btn btn-default btn-sm boxshadow"><span class="network-name shadow">Apply Changes</span></button>
    </form>
</body>