@{
    ViewBag.Title = "About";
}
<body class="bgcolor">
    <div class="bodytext boxshadow">
        <div class="headtext">
            <h1>About Me</h1>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-xs-6">
            <h2 class="shadow centertext">
                Keith Sturzenbecker
            </h2><br />
            <h4 class="shadow centertext">
                Sofware & Web Developer
            </h4><br />
                <p>
                    I love problem solving.  Whether it is figuring out the best way to implement a fix in a line of code or
                    figuring out the best strategy to use in a game that I am playing.  One of my most favorite college courses
                    was the capping course for my associate's degree.  I had to develop an entire account management system
                    utilizing all the knowledge obtained from all of the previous courses.
                </p>
                <p>
                    One of my hobbies is photography.  I am mainly interested in nature photography.  It presents an interesting
                    challenge, especially where animals are concerned.  There is no control over where the animal is for lighting
                    and no matter how often you tell them to sit still they decide to move anyway.  All of the pictures on this
                    are my own work and you can check out my @Html.ActionLink("photo gallery", "PhotoGallery", "Home") for some examples.
                </p>
        </div>
        <div class="col-xs-6">
            <img src="~/Content/img/100_3166.JPG" class="centerimg boxshadow" width="65%" />
        </div>
    </div>
</body>