@{
    ViewBag.Title = "Contact";
}
<body class="bgcolor">
    <div class="bodytext boxshadow">
        <div class="headtext">
            <h1>Contact E-mail Form</h1>
        </div>
    </div>
    <br />
    <form role="form" action="@Url.Action("Contact", "Home")" method="post" class="formalign">
        @Html.AntiForgeryToken()
        <div class="row margin-b-l">
            <div class="col-xs-1">
                From: 
            </div>
            <div class="col-xs-8">
                <input type="text" name="From" class="e-mailbox" required />
            </div>
        </div>
        <div class="row">
            <div class="col-xs-1">
                Subject: 
            </div>
            <div class="col-xs-8">
                <input type="text" name="Subject" class="e-mailbox" required />
            </div>
        </div><br />
        Body: <br />
        <textarea name="Body" rows="10" cols="80" class="margin-b" required></textarea><br />
        <button type="submit" class="btn btn-default btn-sm boxshadow"><span class="network-name shadow">Send</span></button>
    </form>
    <p></p>
    <p>
    @ViewBag.response
    </p>
</body>

@section Scripts {
    <script>
        $(document).ready(function () {
            $("#editor").tinymce({});
        });
    </script>
}