<!DOCTYPE html>
<html lang="en">
<body class="bgcolor">
    <div class="intro-header  boxshadow">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>Keith Sturzenbecker</h1>
                        <h3>Web Developer</h3>
                        <hr class="intro-divider">
                        <ul class="list-inline intro-social-buttons">
                            <li>
                                <a href="@Url.Action("About", "Home")" class="btn btn-default btn-lg boxshadow"><span class="network-name shadow">About Me</span></a>
                            </li>
                            <li>
                                <a href="@Url.Action("Resume", "Home")" class="btn btn-default btn-lg boxshadow"><span class="network-name shadow">Resume</span></a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/pub/keith-sturzenbecker/24/b80/b5b" class="btn btn-default btn-lg boxshadow"><span class="network-name shadow">Linkedin</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>