
@{
    ViewBag.Title = "PhotoGallery";
}
<body class="bgcolor">
    <div class="bodytext boxshadow">
        <div class="headtext">
            <h1>Photo Gallery</h1>
        </div>
    </div>
<br />
<div class="row">
    <div class="col-xs-12">
        <div class="row">
            <div class="col-xs-2 shadow">
                Title: Small Bird <br />
                Location: Vancouver, BC
            </div>
            <div class="col-xs-10">
                <img src="~/Content/img/pic01.jpg" width="85%" class="centerimg" />
            </div>
        </div>
        <div class="row">
            <div class="col-xs-2 shadow">
                Title: Colombian Ground Squirrel <br />
                Location: Kamloops, BC
            </div>
            <div class="col-xs-10">
                <img src="~/Content/img/pic02.jpg" width="85%" class="centerimg" />
            </div>
        </div>
        <div class="row">
            <div class="col-xs-2 shadow">
                Title: Wave Crash <br />
                Location: Bermuda
            </div>
            <div class="col-xs-10">
                <img src="~/Content/img/pic03.JPG" width="85%" class="centerimg" />
            </div>
        </div>
        <div class="row">
            <div class="col-xs-2 shadow">
                Title: The Llama <br />
                Location: 
            </div>
            <div class="col-xs-10">
                <img src="~/Content/img/pic04.JPG" width="85%" class="centerimg" />
            </div>
        </div>
        <div class="row">
            <div class="col-xs-2 shadow">
                Title: Pink Flower <br />
                Location: Victoria, BC Buchart Gardens
            </div>
            <div class="col-xs-10">
                <img src="~/Content/img/pic05.jpg" width="85%" class="centerimg" />
            </div>
        </div>
    </div>
</div>
</body>